<launch>

  <node pkg="hydro_system" type="DS18B20_node.py" name="water_temp_sensor" />

  <node pkg="hydro_system" type="pH_sensor_node.py" name="pH_sensor" output="screen" />

  <node pkg="hydro_system" type="motor_hat_node.py" name="motor_hat" />

  <node pkg="hydro_system" type="pH_controller_node.py" name="pH_controller" output="screen" />

</launch>
