<launch>

  <node pkg="hydro_system" type="DS18B20_node.py" name="water_temp_sensor" />

  <node pkg="hydro_system" type="filter_node.py" name="temp_filter" >
    <remap from="/raw_in" to="/temp" />
    <remap from="/filtered_out" to="/temp_filtered" />
    <param name="q" value="0.03" />
    <param name="r" value="0.1" />
    <param name="var" value="0.5" />
  </node>

  <node pkg="hydro_system" type="pH_sensor_node.py" name="pH_sensor" output="screen" />

  <node pkg="hydro_system" type="filter_node.py" name="pH_filter" >
    <remap from="/raw_in" to="/pH" />
    <remap from="/filtered_out" to="/pH_filtered" />
    <param name="q" value="0.05" />
    <param name="r" value="0.15" />
    <param name="var" value="0.5" />
  </node>

  <node pkg="hydro_system" type="motor_hat_node.py" name="motor_hat" />

  <node pkg="hydro_system" type="pH_controller_node.py" name="pH_controller" output="screen" />

  <node pkg="hydro_system" type="logger_node.py" name="logger" >
    <!--<param name="topics" value="/temp /temp_filtered /pH /pH_filtered" />-->
    <param name="topics" value="/temp /temp_filtered" />
    <param name="period" value="1" />
  </node>

</launch>
